@use '@styles/colors' as *;
@use '@styles/variables' as *;

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-top: 1px solid $footer-border;

  &__text, &__link {
    color: $footer-text;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
