$navigation-background: rgba(0, 0, 0, 0.5);
$navigation-border: rgba(255, 255, 255, 0.4);

$searchfiled-background: rgba(255, 255, 255, 0.8);
$placeholder-text: rgba(0, 0, 0, 0.5);
$searchfield-text: rgba(0, 0, 0, 1);

$button-border: rgba(255, 255, 255, 0.5);
$button-text: rgba(255, 255, 255, 0.7);

$footer-border: rgba(255, 255, 255, 0.4);
$footer-text: rgba(255, 255, 255, 0.5);
